cscope.*
autom4te.cache/
Makefile.in
Makefile
*.o
*.lo
*.mo
*.so
*.vim
*.2
*.3
*.5

libraries/libapparmor/aclocal.m4
libraries/libapparmor/configure
libraries/libapparmor/ltmain.sh
profiles/apparmor.d/local/